@font-face {
    font-family: "Inter";
    src: url('../assets/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "FjallaOne";
    src: url('../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Monoton";
    src: url('../assets/fonts/Monoton/Monoton-Regular.ttf') format('truetype');
}


:root {
    --main-background-color: rgba(206, 241, 230, .2);
    --dominent-color: #e2e8f0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", "FjallaOne", "Monoton", sans-serif;
}


.logoEl {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    display: flex;
    position: relative;
    right: 17rem;
    font-size: 22px;
    flex-wrap: wrap;
    font-family: "Monoton";
    font-weight: 500;
    padding-top: 7px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: black;
    background-color: var(--main-background-color);
    padding: 10px 10px;
    border-radius: 10px;
 
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color:var(--main-background-color);
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.header-nav button {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    margin: 0;
    height: 586px;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
/* p {
    animation-duration: 3s;
    animation-name: slide-up;
  } */


.initial-headText {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: black;
    font-weight: 900;
    /* animation-duration: 3s;
    animation-name: slide-up; */
   
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
  }

.textparagraph {
    display: flex;
    align-items: center;
    width: 700px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: black;
    
    
}

.menu {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

.breakFastTitleEl {
    margin: 0px 0px 0px 90px;
    font-size: 25px;
}

.breakFastContainer {
    display: flex;
    gap: 50px;
    text-align: center;

}

.fBFContainer {
    margin-left: 90px;
}

.breakFastContainer img {
    border-radius: 20px;
}

.fBreakFastText, .sBreakFastText, .tBreakFastText {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.lunchTitleEl {
    margin: 0px 0px 0px 90px;
    font-size: 25px;


}

.lunchContainer {
    display: flex;
    gap: 50px;
    text-align: center;
}

.lunchContainer img {
    border-radius: 20px;
}

.fLunchContainer {
    margin-left: 90px;

}

.fLunchText, .sLunchText, .tLunchText {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.dessertTitleEl {
    margin: 0px 0px 0px 90px;
    font-size: 25px;


}

.dessertContainer {
    display: flex;
    gap: 50px;
    text-align: center;
}

.dessertContainer img {
    border-radius: 20px;
}

.fDessertContainer {
    margin-left: 90px;

}

.fDessertText, .sDessertText, .tDessertText {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.beverageTitleEl {
    margin: 0px 0px 0px 90px;
    font-size: 25px;


}

.beverageContainer {
    display: flex;
    gap: 50px;
    text-align: center;
}

.beverageContainer img {
    border-radius: 20px;
}

.fBeverageContainer {
    margin-left: 90px;

}

.fBeverageText, .sBeverageText, .tBeverageText {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.aboutUsHeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dominent-color);

}

.storyTitle {
    margin: 0;
  
    
}

.storyEl {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 20px;
}

.aboutUsSectionEl {
    color: var(--dominent-color);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionText {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 2px;

}

.orderEl {
    font-size: 25px;
    color: var(--dominent-color);
}

.aboutUsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 538px;
 overflow: hidden;
  white-space: wrap;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.menuContent {
    background-color: var(--main-background-color);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contactInfo :nth-child(6) {
    margin: 0;
}

.ContactInfoContainer {
    font-weight: 700;
    display: flex;
    color: white;
}

.mapImg {
    height: 420px
}